Repository E3SM-Project/Omega, pull requests merged in 2023-08, with the labels that each got.

#26 Add a new MachEnv class to hold various machine and messaging parameters
  components/omega/doc/devGuide/MachEnv.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/MachEnv.md
  components/omega/src/base/MachEnv.cpp
  components/omega/src/base/MachEnv.h
  components/omega/test/base/MachEnvTest.cpp
Labels: Omega

#29 Fix two small issues with the docs
  components/omega/doc/design/Decomp.md
  components/omega/doc/devGuide/CMakeBuild.md
Labels: documentation, clean up

#30 Update version of file-changes-action to 1.2.4
  .github/workflows/build_workflow.yml
Labels: bug, linting and CI

#28 Omega-0 Design Document: Requirements and Testing only
  components/omega/doc/design/ShallowWaterOmega0.md
Labels: Design

#27 Adds the basic logging capabilities for Omega
  components/omega/OmegaBuild.cmake
  components/omega/doc/design/Logging.md
  components/omega/doc/devGuide/Logging.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/Logging.md
  components/omega/external/CMakeLists.txt
  components/omega/src/CMakeLists.txt
  components/omega/src/drivers/DrvDummy.cpp
  components/omega/src/infra/LogFormatters.h
  components/omega/src/infra/Logging.cpp
  components/omega/src/infra/Logging.h
  components/omega/src/ocn/OcnDummy.cpp
  components/omega/src/ocn/ocndummy.h
  components/omega/test/CMakeLists.txt
  components/omega/test/infra/LoggingTest.cpp
  components/omega/test/testdummy.cpp
Labels: Omega, Logging

#32 Fix docs for shallow water design doc
  .github/pull_request_template.md
  components/omega/doc/design/ShallowWaterOmega0.md
  components/omega/doc/index.md
Labels: bug, documentation
