Repository E3SM-Project/Omega, pull requests merged in 2024-04, with the labels that each got.

#75 Add design document for Omega timers
  components/omega/doc/design/Timers.md
  components/omega/doc/index.md
Labels: Omega, Design

#77 Update pre-commit dependencies and clang-format versions
  .pre-commit-config.yaml
  components/omega/dev-conda.txt
Labels: linting and CI

#78 Some updates to the documentation
  components/omega/doc/devGuide/CondaEnv.md
  components/omega/doc/devGuide/Linting.md
  components/omega/doc/index.md
Labels: documentation

#76 Add Time Manager
  components/omega/doc/devGuide/TimeMgr.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/TimeMgr.md
  components/omega/src/infra/TimeMgr.cpp
  components/omega/src/infra/TimeMgr.h
  components/omega/test/CMakeLists.txt
  components/omega/test/infra/TimeMgrTest.cpp
Labels: Omega

#74 Refactor: Migrate Omega from YAKL to Kokkos
  components/omega/CMakeLists.txt
  components/omega/OmegaBuild.cmake
  components/omega/create_scripts.py
  components/omega/doc/design/DataTypes.md
  components/omega/doc/design/Decomp.md
  components/omega/doc/design/Driver.md
  components/omega/doc/design/HorzMeshClass.md
  components/omega/doc/design/IO.md
  components/omega/doc/design/IOStreams.md
  components/omega/doc/design/MachEnv.md
  components/omega/doc/design/Reductions.md
  components/omega/doc/design/ShallowWaterOmega0.md
  components/omega/doc/devGuide/CMakeBuild.md
  components/omega/doc/devGuide/DataTypes.md
  components/omega/doc/devGuide/Decomp.md
  components/omega/doc/devGuide/HorzMesh.md
  components/omega/doc/devGuide/Logging.md
  components/omega/doc/devGuide/QuickStart.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/Logging.md
  components/omega/external/CMakeLists.txt
  components/omega/external/README.md
  components/omega/src/CMakeLists.txt
  components/omega/src/base/DataTypes.h
  components/omega/src/base/Decomp.cpp
  components/omega/src/base/Decomp.h
  components/omega/src/base/Halo.cpp
  components/omega/src/base/Halo.h
  components/omega/src/infra/Config.cpp
  components/omega/src/infra/IOField.h
  components/omega/src/infra/LogFormatters.h
  components/omega/src/infra/Logging.cpp
  components/omega/src/infra/OmegaKokkos.h
  components/omega/src/ocn/HorzMesh.cpp
  components/omega/src/ocn/HorzMesh.h
  components/omega/src/ocn/OcnDummy.cpp
  components/omega/test/CMakeLists.txt
  components/omega/test/base/DataTypesTest.cpp
  components/omega/test/base/DecompTest.cpp
  components/omega/test/base/HaloTest.cpp
  components/omega/test/base/IOTest.cpp
  components/omega/test/infra/IOFieldTest.cpp
  components/omega/test/infra/LoggingTest.cpp
  components/omega/test/infra/OmegaKokkosTest.cpp
  components/omega/test/ocn/HorzMeshTest.cpp
Labels: Omega, Kokkos

#80 Adds a time constructor from string to Omega TimeMgr
  components/omega/doc/devGuide/TimeMgr.md
  components/omega/src/infra/TimeMgr.cpp
  components/omega/src/infra/TimeMgr.h
  components/omega/test/infra/TimeMgrTest.cpp
Labels: Omega

#79 Halo fixes and updates
  components/omega/doc/devGuide/Halo.md
  components/omega/src/base/Halo.cpp
  components/omega/src/base/Halo.h
  components/omega/test/base/HaloTest.cpp
  components/omega/test/ocn/HorzMeshTest.cpp
Labels: Omega
