Repository E3SM-Project/Omega, pull requests merged in 2024-12, with the labels that each got.

#169 Adds a CF-compliant time dimension for Omega IO
  components/omega/doc/devGuide/Field.md
  components/omega/src/base/IO.h
  components/omega/src/infra/Field.cpp
  components/omega/src/infra/Field.h
  components/omega/src/infra/IOStream.cpp
  components/omega/src/infra/IOStream.h
  components/omega/src/infra/TimeMgr.h
  components/omega/src/ocn/OceanInit.cpp
  components/omega/test/infra/FieldTest.cpp
  components/omega/test/infra/IOStreamTest.cpp
  components/omega/test/ocn/StateTest.cpp
Labels: Omega

#168 Pacer integration into Omega standalone driver
  components/omega/external/CMakeLists.txt
  components/omega/src/CMakeLists.txt
  components/omega/src/drivers/standalone/OceanDriver.cpp
  components/omega/test/drivers/StandaloneDriverTest.cpp
Labels: enhancement, CMake, performance

#176 fixes reading dimensions for Omega decomposition and unused dimensions
  components/omega/src/base/Decomp.cpp
  components/omega/src/base/IO.cpp
  components/omega/src/infra/IOStream.cpp
Labels: Omega

#163 Update Halo class to allow halo exchanges for device arrays
  components/omega/OmegaBuild.cmake
  components/omega/doc/devGuide/Halo.md
  components/omega/doc/userGuide/Halo.md
  components/omega/src/base/Halo.cpp
  components/omega/src/base/Halo.h
  components/omega/src/infra/Field.cpp
  components/omega/src/infra/Field.h
  components/omega/src/infra/IOStream.cpp
  components/omega/src/infra/OmegaKokkos.h
  components/omega/src/ocn/OceanState.cpp
  components/omega/src/ocn/Tracers.cpp
  components/omega/src/timeStepping/RungeKutta4Stepper.cpp
  components/omega/test/base/HaloTest.cpp
  components/omega/test/infra/FieldTest.cpp
  components/omega/test/infra/IOStreamTest.cpp
  components/omega/test/ocn/AuxiliaryVarsTest.cpp
  components/omega/test/ocn/HorzMeshTest.cpp
  components/omega/test/ocn/OceanTestCommon.h
  components/omega/test/ocn/StateTest.cpp
  components/omega/test/ocn/TracersTest.cpp
Labels: Omega

#180 Update comment on `InitialState` stream in `Default.yml`
  components/omega/configs/Default.yml
Labels: clean up

#184 Added return codes to IOStream for better managing missing/skipped streams
  components/omega/src/infra/IOStream.cpp
  components/omega/src/infra/IOStream.h
  components/omega/src/ocn/OceanInit.cpp
  components/omega/test/infra/IOStreamTest.cpp
  components/omega/test/ocn/StateTest.cpp
Labels: Omega

#187 Fix reductions ctest for nvidia on perlmutter
  components/omega/test/base/ReductionsTest.cpp
Labels: Omega

#170 Add manufactured solution tendency terms to Omega
  components/omega/configs/Default.yml
  components/omega/src/ocn/CustomTendencyTerms.cpp
  components/omega/src/ocn/CustomTendencyTerms.h
  components/omega/src/ocn/HorzMesh.cpp
  components/omega/src/ocn/Tendencies.cpp
Labels: Omega, Polaris

#188 Adds retrievals for some Alarm members in Omega TimeMgr
  components/omega/doc/devGuide/TimeMgr.md
  components/omega/src/infra/TimeMgr.cpp
  components/omega/src/infra/TimeMgr.h
  components/omega/test/infra/TimeMgrTest.cpp
Labels: Omega
