Repository E3SM-Project/Omega, pull requests merged in 2024-10, with the labels that each got.

#142 Remove mamba(forge) from CI and dev conda instructions
  .github/workflows/omega-build-workflow.yml
  .github/workflows/omega-docs-workflow.yml
  components/omega/dev-conda.txt
Labels: linting and CI

#144 fixed a bug in logging for Kokkos data types
  components/omega/src/infra/LogFormatters.h
  components/omega/test/infra/LoggingTest.cpp
Labels: Logging

#132 Adds IOStream capabilities for omega input/output
  components/omega/configs/Default.yml
  components/omega/doc/devGuide/IOStreams.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/IOStreams.md
  components/omega/src/base/IO.cpp
  components/omega/src/base/IO.h
  components/omega/src/infra/IOStream.cpp
  components/omega/src/infra/IOStream.h
  components/omega/test/CMakeLists.txt
  components/omega/test/base/IOTest.cpp
  components/omega/test/infra/IOStreamTest.cpp
Labels: Omega

#140 Add tracer tendency terms and auxiliary variables
  components/omega/src/ocn/TendencyTerms.cpp
  components/omega/src/ocn/TendencyTerms.h
  components/omega/src/ocn/auxiliaryVars/TracerAuxVars.cpp
  components/omega/src/ocn/auxiliaryVars/TracerAuxVars.h
  components/omega/test/ocn/AuxiliaryVarsTest.cpp
  components/omega/test/ocn/OceanTestCommon.h
  components/omega/test/ocn/TendencyTermsTest.cpp
Labels: Omega

#145 Adds design document for an Omega error handler
  components/omega/doc/design/Error.md
  components/omega/doc/index.md
Labels: documentation, Omega

#149 Make use of the E3SM machine file
  cime_config/machines/cmake_macros/amdomegagpu.cmake
  cime_config/machines/cmake_macros/amdomegagpu_frontier.cmake
  cime_config/machines/cmake_macros/crayomegagpu.cmake
  cime_config/machines/cmake_macros/crayomegagpu_frontier.cmake
  cime_config/machines/cmake_macros/gnuomegagpu.cmake
  cime_config/machines/cmake_macros/gnuomegagpu_frontier.cmake
  cime_config/machines/config_machines.xml
Labels: Omega, machinefile

#151 adds a delay between write/read in stream test
  components/omega/test/infra/IOStreamTest.cpp
Labels: Omega

#154 allow only one calendar instance for a simulation
  components/omega/doc/devGuide/TimeMgr.md
  components/omega/src/drivers/standalone/OceanDriver.cpp
  components/omega/src/infra/IOStream.cpp
  components/omega/src/infra/TimeMgr.cpp
  components/omega/src/infra/TimeMgr.h
  components/omega/src/ocn/OceanDriver.h
  components/omega/src/ocn/OceanInit.cpp
  components/omega/test/drivers/StandaloneDriverTest.cpp
  components/omega/test/infra/IOStreamTest.cpp
  components/omega/test/infra/TimeMgrTest.cpp
  components/omega/test/timeStepping/TimeStepperTest.cpp
Labels: Omega
