Repository E3SM-Project/Omega, pull requests merged in 2024-08, with the labels that each got.

#114 Change build location for docs CI
  .github/workflows/docs_workflow.yml
Labels: linting and CI

#116 Rename build workflows
  .github/workflows/omega-build-workflow.yml
  .github/workflows/omega-docs-workflow.yml
Labels: linting and CI

#118 Fix reductions ctest
  components/omega/src/base/Reductions.h
  components/omega/test/base/ReductionsTest.cpp
Labels: Omega

#117 Adds a new dimension class for Omega
  components/omega/doc/devGuide/Dimension.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/Dimension.md
  components/omega/src/infra/Dimension.cpp
  components/omega/src/infra/Dimension.h
  components/omega/test/CMakeLists.txt
  components/omega/test/infra/DimensionTest.cpp
Labels: Omega

#121 Change "OMEGA" to "Omega" in docs
  components/omega/doc/README.md
  components/omega/doc/conf.py
  components/omega/doc/devGuide/AuxiliaryState.md
  components/omega/doc/devGuide/BuildDocs.md
  components/omega/doc/devGuide/DataTypes.md
  components/omega/doc/devGuide/Decomp.md
  components/omega/doc/devGuide/Dimension.md
  components/omega/doc/devGuide/Docs.md
  components/omega/doc/devGuide/Halo.md
  components/omega/doc/devGuide/HorzMesh.md
  components/omega/doc/devGuide/IO.md
  components/omega/doc/devGuide/MachEnv.md
  components/omega/doc/devGuide/OceanState.md
  components/omega/doc/devGuide/README.md
  components/omega/doc/devGuide/Reductions.md
  components/omega/doc/devGuide/TimeMgr.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/AuxiliaryState.md
  components/omega/doc/userGuide/DataTypes.md
  components/omega/doc/userGuide/Decomp.md
  components/omega/doc/userGuide/Dimension.md
  components/omega/doc/userGuide/Halo.md
  components/omega/doc/userGuide/HorzMesh.md
  components/omega/doc/userGuide/IO.md
  components/omega/doc/userGuide/IOField.md
  components/omega/doc/userGuide/MachEnv.md
  components/omega/doc/userGuide/OceanState.md
  components/omega/doc/userGuide/OmegaBuild.md
  components/omega/doc/userGuide/QuickStart.md
  components/omega/doc/userGuide/README.md
Labels: documentation, clean up

#122 Merge IOField and Metadata into new Omega Field class
  components/omega/doc/devGuide/Field.md
  components/omega/doc/devGuide/IOField.md
  components/omega/doc/devGuide/MetaData.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/Field.md
  components/omega/doc/userGuide/IOField.md
  components/omega/doc/userGuide/MetaData.md
  components/omega/src/base/DataTypes.h
  components/omega/src/infra/Dimension.h
  components/omega/src/infra/Field.cpp
  components/omega/src/infra/Field.h
  components/omega/src/infra/IOField.cpp
  components/omega/src/infra/IOField.h
  components/omega/src/infra/MetaData.cpp
  components/omega/src/infra/MetaData.h
  components/omega/src/ocn/AuxiliaryState.cpp
  components/omega/src/ocn/AuxiliaryState.h
  components/omega/src/ocn/HorzMesh.cpp
  components/omega/src/ocn/HorzMesh.h
  components/omega/src/ocn/OceanState.cpp
  components/omega/src/ocn/OceanState.h
  components/omega/src/ocn/auxiliaryVars/KineticAuxVars.cpp
  components/omega/src/ocn/auxiliaryVars/KineticAuxVars.h
  components/omega/src/ocn/auxiliaryVars/LayerThicknessAuxVars.cpp
  components/omega/src/ocn/auxiliaryVars/LayerThicknessAuxVars.h
  components/omega/src/ocn/auxiliaryVars/VelocityDel2AuxVars.cpp
  components/omega/src/ocn/auxiliaryVars/VelocityDel2AuxVars.h
  components/omega/src/ocn/auxiliaryVars/VorticityAuxVars.cpp
  components/omega/src/ocn/auxiliaryVars/VorticityAuxVars.h
  components/omega/test/CMakeLists.txt
  components/omega/test/infra/FieldTest.cpp
  components/omega/test/infra/IOFieldTest.cpp
  components/omega/test/infra/MetadataTest.cpp
  components/omega/test/ocn/AuxiliaryStateTest.cpp
  components/omega/test/ocn/AuxiliaryVarsTest.cpp
  components/omega/test/ocn/HorzMeshTest.cpp
  components/omega/test/ocn/HorzOperatorsTest.cpp
  components/omega/test/ocn/StateTest.cpp
  components/omega/test/ocn/TendenciesTest.cpp
  components/omega/test/ocn/TendencyTermsTest.cpp
Labels: Omega

#33 Design Document: Omega-0 algorithm formulation
  components/omega/doc/_static/areaPositionsMPAS.png
  components/omega/doc/_static/variablePosition.png
  components/omega/doc/design/OmegaV0ShallowWater.md
  components/omega/doc/design/ShallowWaterOmega0.md
  components/omega/doc/design/Template.md
  components/omega/doc/index.md
Labels: Design
