Repository E3SM-Project/Omega, pull requests merged in 2024-07, with the labels that each got.

#94 Time Stepping design doc
  components/omega/doc/design/TimeStepping.md
  components/omega/doc/index.md
Labels: Design

#35 Initial SUM, MIN and MAX reductions
  components/omega/doc/devGuide/Docs.md
  components/omega/doc/devGuide/Reductions.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/Reductions.md
  components/omega/src/base/Reductions.h
  components/omega/test/CMakeLists.txt
  components/omega/test/base/ReductionsTest.cpp
Labels: Omega

#101 Fix decomp call to ParMETIS to handle 64-bit idx_t
  components/omega/src/base/Decomp.cpp
Labels: bug, Omega

#82 Tendency Design Document
  components/omega/doc/design/Tendency.md
  components/omega/doc/index.md
Labels: Design

#102 Updated logging to support the shorter message prefix and rank-specific log generations
  components/omega/OmegaBuild.cmake
  components/omega/doc/design/Logging.md
  components/omega/doc/devGuide/CMakeBuild.md
  components/omega/src/infra/Logging.cpp
  components/omega/src/infra/Logging.h
  components/omega/test/CMakeLists.txt
  components/omega/test/base/DecompTest.cpp
  components/omega/test/base/HaloTest.cpp
  components/omega/test/base/IOTest.cpp
  components/omega/test/base/MachEnvTest.cpp
  components/omega/test/base/ReductionsTest.cpp
  components/omega/test/infra/ConfigTest.cpp
  components/omega/test/infra/IOFieldTest.cpp
  components/omega/test/infra/LoggingTest.cpp
  components/omega/test/infra/TimeMgrTest.cpp
  components/omega/test/ocn/HorzMeshTest.cpp
  components/omega/test/ocn/HorzOperatorsTest.cpp
Labels: Omega, Logging

#110 Update paths Metis/Parmetis libraries
  components/omega/doc/devGuide/QuickStart.md
Labels: documentation

#111 Several small fixes to the docs
  components/omega/doc/design/OmegaDesignTemplate.md
  components/omega/doc/design/TimeStepping.md
  components/omega/doc/devGuide/TimeMgr.md
  components/omega/doc/userGuide/MetaData.md
Labels: documentation

#113 Changes IO dimension inquiry and removes precision at base IO level
  components/omega/doc/devGuide/IO.md
  components/omega/doc/userGuide/OmegaBuild.md
  components/omega/src/base/Decomp.cpp
  components/omega/src/base/IO.cpp
  components/omega/src/base/IO.h
  components/omega/test/base/IOTest.cpp
Labels: Omega

#105 Refactor creation of static variables
  components/omega/doc/devGuide/Halo.md
  components/omega/doc/devGuide/MachEnv.md
  components/omega/doc/devGuide/OceanState.md
  components/omega/doc/userGuide/Broadcast.md
  components/omega/src/base/Broadcast.cpp
  components/omega/src/base/Broadcast.h
  components/omega/src/base/Decomp.cpp
  components/omega/src/base/Decomp.h
  components/omega/src/base/Halo.cpp
  components/omega/src/base/Halo.h
  components/omega/src/base/MachEnv.cpp
  components/omega/src/base/MachEnv.h
  components/omega/src/infra/Config.cpp
  components/omega/src/infra/Logging.cpp
  components/omega/src/infra/Logging.h
  components/omega/src/ocn/HorzMesh.cpp
  components/omega/src/ocn/HorzMesh.h
  components/omega/src/ocn/OceanState.cpp
  components/omega/src/ocn/OceanState.h
  components/omega/test/base/BroadcastTest.cpp
  components/omega/test/base/DecompTest.cpp
  components/omega/test/base/HaloTest.cpp
  components/omega/test/base/IOTest.cpp
  components/omega/test/base/MachEnvTest.cpp
  components/omega/test/base/ReductionsTest.cpp
  components/omega/test/infra/ConfigTest.cpp
  components/omega/test/infra/IOFieldTest.cpp
  components/omega/test/infra/LoggingTest.cpp
  components/omega/test/infra/TimeMgrTest.cpp
  components/omega/test/ocn/AuxiliaryVarsTest.cpp
  components/omega/test/ocn/HorzMeshTest.cpp
  components/omega/test/ocn/HorzOperatorsTest.cpp
  components/omega/test/ocn/OceanTestCommon.h
  components/omega/test/ocn/StateTest.cpp
  components/omega/test/ocn/TendencyTermsTest.cpp
Labels: Omega
