Repository E3SM-Project/Omega, pull requests merged in 2024-03, with the labels that each got.

#64 adds vectors and lists to the Omega configuration module
  components/omega/doc/devGuide/Config.md
  components/omega/doc/userGuide/Config.md
  components/omega/src/infra/Config.cpp
  components/omega/src/infra/Config.h
  components/omega/test/infra/ConfigTest.cpp
Labels: Omega

#66 adds an IOField capability
  components/omega/doc/devGuide/IOField.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/IOField.md
  components/omega/src/infra/IOField.cpp
  components/omega/src/infra/IOField.h
  components/omega/test/CMakeLists.txt
  components/omega/test/infra/IOFieldTest.cpp
Labels: Omega

#70 Add var, dim and meta names to IO error messages
  components/omega/src/base/IO.cpp
Labels: enhancement

#68 Add a design document for Tracers
  components/omega/doc/design/Tracers.md
  components/omega/doc/index.md
Labels: Omega, Design
