Repository E3SM-Project/Omega, pull requests merged in 2024-02, with the labels that each got.

#48 Add Mesh class
  components/omega/doc/design/HorzMeshClass.md
  components/omega/doc/devGuide/HorzMesh.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/HorzMesh.md
  components/omega/src/base/Decomp.cpp
  components/omega/src/base/Decomp.h
  components/omega/src/ocn/HorzMesh.cpp
  components/omega/src/ocn/HorzMesh.h
  components/omega/test/CMakeLists.txt
  components/omega/test/ocn/HorzMeshTest.cpp
Labels: Omega

#53 Adds metadata implementation
  components/omega/CMakeLists.txt
  components/omega/doc/design/Metadata.md
  components/omega/doc/devGuide/MetaData.md
  components/omega/doc/index.md
  components/omega/doc/userGuide/MetaData.md
  components/omega/src/infra/MetaData.cpp
  components/omega/src/infra/MetaData.h
  components/omega/test/CMakeLists.txt
  components/omega/test/infra/MetadataTest.cpp
Labels: Omega

#46 Adds design document for Omega driver layer
  components/omega/doc/design/Driver.md
  components/omega/doc/index.md
Labels: Omega, Design

#57 Add a quick start for developers
  components/omega/doc/devGuide/CondaEnv.md
  components/omega/doc/devGuide/QuickStart.md
Labels: documentation

#65 Use custom pre-commit steps instead of external action on CI
  .github/workflows/build_workflow.yml
Labels: linting and CI
