Repository E3SM-Project/Omega, pull requests merged in 2024-11, with the labels that each got.

#152 Omega/state time level change
  components/omega/doc/devGuide/OceanState.md
  components/omega/doc/userGuide/OceanState.md
  components/omega/src/ocn/AuxiliaryState.cpp
  components/omega/src/ocn/OceanState.cpp
  components/omega/src/ocn/OceanState.h
  components/omega/src/ocn/TendencyTerms.cpp
  components/omega/src/ocn/Tracers.cpp
  components/omega/src/ocn/Tracers.h
  components/omega/src/timeStepping/ForwardBackwardStepper.cpp
  components/omega/src/timeStepping/RungeKutta2Stepper.cpp
  components/omega/src/timeStepping/RungeKutta4Stepper.cpp
  components/omega/src/timeStepping/TimeStepper.cpp
  components/omega/test/ocn/AuxiliaryStateTest.cpp
  components/omega/test/ocn/StateTest.cpp
  components/omega/test/ocn/TendenciesTest.cpp
  components/omega/test/ocn/TracersTest.cpp
  components/omega/test/timeStepping/TimeStepperTest.cpp
Labels: Omega, clean up

#155 Add clock and time info to Omega TimeStepper
  components/omega/configs/Default.yml
  components/omega/doc/devGuide/TimeStepping.md
  components/omega/doc/userGuide/TimeMgr.md
  components/omega/doc/userGuide/TimeStepping.md
  components/omega/src/drivers/standalone/OceanDriver.cpp
  components/omega/src/ocn/OceanDriver.h
  components/omega/src/ocn/OceanInit.cpp
  components/omega/src/ocn/OceanRun.cpp
  components/omega/src/timeStepping/ForwardBackwardStepper.cpp
  components/omega/src/timeStepping/ForwardBackwardStepper.h
  components/omega/src/timeStepping/RungeKutta2Stepper.cpp
  components/omega/src/timeStepping/RungeKutta2Stepper.h
  components/omega/src/timeStepping/RungeKutta4Stepper.cpp
  components/omega/src/timeStepping/RungeKutta4Stepper.h
  components/omega/src/timeStepping/TimeStepper.cpp
  components/omega/src/timeStepping/TimeStepper.h
  components/omega/test/drivers/StandaloneDriverTest.cpp
  components/omega/test/infra/IOStreamTest.cpp
  components/omega/test/timeStepping/TimeStepperTest.cpp
Labels: Omega, YAML

#158 corrected paths for quick start: mesh symlinks
  .github/pull_request_template.md
  components/omega/doc/devGuide/BuildDocs.md
  components/omega/doc/devGuide/QuickStart.md
Labels: documentation, Omega

#159 Move Tendencies class into separate files
  components/omega/src/ocn/OceanFinal.cpp
  components/omega/src/ocn/OceanInit.cpp
  components/omega/src/ocn/Tendencies.cpp
  components/omega/src/ocn/Tendencies.h
  components/omega/src/ocn/TendencyTerms.cpp
  components/omega/src/ocn/TendencyTerms.h
  components/omega/src/timeStepping/TimeStepper.h
  components/omega/test/ocn/TendenciesTest.cpp
Labels: Omega, clean up

#156 Integrates streams into Omega drivers and tests
  components/omega/configs/Default.yml
  components/omega/doc/devGuide/Field.md
  components/omega/src/infra/Field.cpp
  components/omega/src/infra/Field.h
  components/omega/src/infra/IOStream.cpp
  components/omega/src/infra/IOStream.h
  components/omega/src/infra/TimeMgr.cpp
  components/omega/src/ocn/OceanInit.cpp
  components/omega/src/ocn/OceanRun.cpp
  components/omega/src/ocn/OceanState.cpp
  components/omega/src/ocn/OceanState.h
  components/omega/src/ocn/TracerDefs.inc
  components/omega/src/ocn/Tracers.cpp
  components/omega/test/infra/FieldTest.cpp
  components/omega/test/infra/IOStreamTest.cpp
  components/omega/test/ocn/StateTest.cpp
  components/omega/test/ocn/TracersTest.cpp
Labels: Omega

#167 Copy certain coordinate arrays to the device
  components/omega/src/ocn/HorzMesh.cpp
  components/omega/src/ocn/HorzMesh.h
Labels: Omega

#164 Adds capability to read/write non-distributed variables in Omega IO
  components/omega/doc/devGuide/IO.md
  components/omega/src/base/IO.cpp
  components/omega/src/base/IO.h
  components/omega/test/base/IOTest.cpp
Labels: Omega
