Repository E3SM-Project/Omega, pull requests merged in 2025-03, with the labels that each got.

#198 Updates in OmegaBuild.cmake
  components/omega/OmegaBuild.cmake
Labels: CMake

#209 Update the quick-start for developers
  components/omega/doc/design/OmegaV0ShallowWater.md
  components/omega/doc/devGuide/QuickStart.md
Labels: documentation

#210 Replace search patterns in Decomposition with more optimal forms
  components/omega/src/base/Decomp.cpp
Labels: Omega, performance

#212 Moved cdash variables outside of CTestScript.cmake
  components/omega/CTestScript.cmake
Labels: CMake

#202 Add vertical mixing coefficients design doc
  components/omega/doc/design/VerticalMixingCoeff.md
  components/omega/doc/index.md
Labels: documentation, Omega
