Repository E3SM-Project/Omega, pull requests merged in 2025-01, with the labels that each got.

#193 Add amdclang and amdclang to list of Frontier compilers
  components/omega/doc/devGuide/QuickStart.md
Labels: documentation

#190 Add a scale factor for the divergence term in the velocity Del4 operator
  components/omega/configs/Default.yml
  components/omega/doc/userGuide/TendencyTerms.md
  components/omega/src/ocn/Tendencies.cpp
  components/omega/src/ocn/TendencyTerms.h
  components/omega/test/ocn/TendencyTermsTest.cpp
Labels: Omega

#153 Fix CTests in SYCL runs
  cime_config/machines/cmake_macros/oneapi-ifxgpu_aurora.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu_sunspot.cmake
  components/omega/CMakeLists.txt
  components/omega/OmegaBuild.cmake
  components/omega/src/CMakeLists.txt
  components/omega/src/base/DataTypes.h
  components/omega/test/CMakeLists.txt
Labels: Omega, clean up, machinefile
