Repository E3SM-Project/Omega, pull requests merged in 2025-04, with the labels that each got.

#221 Update locations for metis/parmetis to Polaris 0.7.0
  components/omega/doc/conf.py
  components/omega/doc/devGuide/QuickStart.md
Labels: documentation

#191 Add EOS design document
  components/omega/doc/design/EOS.md
  components/omega/doc/index.md
Labels: documentation, Omega

#224 fixes behavior of OMEGA_ASSERT and OMEGA_REQUIRE
  components/omega/doc/devGuide/Error.md
  components/omega/src/infra/Error.h
  components/omega/test/infra/ErrorTest.cpp
Labels: Omega
